body {
    background-color: #1C1C1C !important;
}
section {
    padding-top: 60px;
}
.bg-primary {
    background-color: #1C1C1C !important;
}
.bg-navbar {
    background-color: #202733 !important;
}
.bg-cs-1 {
    background-color: #202733 !important;
}
.bg-cs-2 {
    background-color: #2B3D4B !important;
}
.btn-primary {
    background-color: #353D4B !important;
    border-color: #353D4B !important;
}
.btn-primary:hover {
    background-color: #202733 !important;
    border-color: #FFFFFF !important;
}
.btn-outline-secondary {
    background-color: #202733 !important;
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}
.btn-outline-secondary:hover {
    background-color: #353D4B !important;
    border-color: #353D4B !important;
}
.form-control {
    height: 60px;
}
.hero {
    height: 30vh;
    background-image: url("/img/hero.jpeg");
    background-size: cover;
}
.genre-section {
    background-color: #353D4B;
}
.card {
    border: #202733 !important;
    border-radius: 20px !important;
}